<div class="container" style="text-align:center">
  <div class="panel" id="login">
    <div class="header">
      Bejelentkezés
    </div>
    <form method="POST" action="/users/login">
      Email:
      <input type="text" class="txt" name="email" placeholder="példa@példa.com">
      Jelszó:
      <input type="password" class="txt" name="password" placeholder="jelszó">
      <input type="submit" class="btn" name="login" value="Bejelentkezés">
    </form>
    <div class="footer">
        Új vagy még az oldalon? <a routerLink="register">Regisztrálj itt!</a>
    </div>
  </div>
</div>
