<div class="container" style="text-align:center">
  <div class="panel" id="login">
    <div class="header">
      Bejelentkezés
    </div>
    <div class="content">
      <div class="error-popup" *ngIf='showError'>
        Rossz email cím vagy jelszó!
      </div>
      <br> Email:
      <input type="text" class="txt" name="email" placeholder="példa@példa.com" #email> Jelszó:
      <input type="password" class="txt" name="password" placeholder="jelszó" #password>
      <button (click)="login(email.value, password.value)">Login</button>
    </div>
    <div class="footer">
      Új vagy még az oldalon?
      <a routerLink="register">Regisztrálj itt!</a>
    </div>
  </div>
</div>
