.results {
  margin: 20px;
  padding: 10px;
  background: white;
  .Math {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
  .Literature {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
  .Grammar {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
  .History {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
  .Chemistry {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
  .Physics {
    height: 25px;
    margin: 5px;
    background: red;
    border-radius: 20px;
  }
}
