body {
	width: 100wh;
	height: 90vh;
	color: black;
	background: #DDDDDD;
	background-attachment: fixed;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
	width: 50%;
}

.container .left {
	float: left;
	width: 20%;
}

.container .right {
	float: right;
	width: 70%;
}