<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li>
      <a (click)="routeWithAuthentication('home')">Főoldal</a>
    </li>
    <li>
      <a (click)="routeWithAuthentication('account/accsettings')">Fiók</a>
    </li>
    <li>
      <a (click)="logout()" style="float: right">Kilépés</a>
    </li>
    <li style="float: right">
      <a routerLink="">Bejelentkezés</a>
    </li>
    <li style="float: right">
      <a (click)="routeWithAuthentication('admin/subjects')">Admin felület</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
