<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li>
      <img src="./assets/logo.png" width=30 height=30 (click)="routeWithAuthentication('home')" style="vertical-align: middle"
      />
    </li>
    <li>
      <a (click)="routeWithAuthentication('account/accsettings')">Fiók</a>
    </li>
    <li>
      <a (click)="logout()" style="float: right">Kilépés</a>
    </li>
    <li style="float: right">
      <a routerLink="">Bejelentkezés</a>
    </li>
    <li style="float: right">
      <a (click)="routeWithAdminAuthentication('admin/subjects')">Admin felület</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
