.container {
  padding: 0px;
  .panel {
    border: 1px solid #999999;
    border-radius: 2px;
    background: #62CCE5;
    .header {
      text-align: center;
      padding: 15px;
      background: #5149c1;
      color: white;
      font-size: 32px;
    }
    .content {
      display: inline-block;
      border: 1px solid #999999;
      border-radius: 20px;
      background: white;
      margin: 10px;
      background: #A3E2FF;
    
    #emailblock {
      text-align: center;
      border: 0px solid #999999;
      border-radius: 2px;
      input[type="password"] {
        display: block;
      }
    }
    #passwordblock {
      text-align: center;
      border: 0px solid #999999;
      border-radius: 2px;
     
    }
    #usernameblock {
      text-align: center;
      border: 0px solid #999999;
      border-radius: 2px;
     
    }
}
    .results {
      margin: 20px;
      padding: 10px;
      background: white;
      .Math {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
      .Literature {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
      .Grammar {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
      .History {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
      .Chemistry {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
      .Physics {
        height: 25px;
        margin: 5px;
        background: red;
        border-radius: 20px;
      }
    }
  }
  
}
