<div class="container" style="text-align:center">
  <div class="panel" id="register">
    <div class="header">
      Regisztráció
    </div>
    <div class="content">
      Email:
      <input type="text" class="txt" name="email" placeholder="példa@példa.com" #email>
      Jelszó:
      <input type="password" class="txt" name="password" placeholder="jelszó" #password>
      <button (click)="register(email.value, password.value)">Regisztrál</button>
    </div>
    <div class="footer">
        Van már fiókod? <a routerLink="/">Jelentkezz be!</a>
    </div>
  </div>
</div>
