<div class="container" style="text-align:center">
  <div class="panel" id="register">
    <div class="header">
      Regisztráció
    </div>
    <form>
      Email:
      <input type="text" class="txt" name="email" placeholder="példa@példa.com"> Jelszó:
      <input type="password" class="txt" name="password" placeholder="jelszó">
      <input type="submit" class="btn" name="register" value="Regisztráció">
      <br>
    </form>
    <div class="footer">
      Van már fiókod?
      <a routerLink="/">Jelentkezz be itt!</a>
    </div>
  </div>
</div>
